<app-header></app-header>
<div class="container">
  <app-sidebar [isOpen]="isSidebarOpen"></app-sidebar>
  <div
    class="sidebar-backdrop"
    *ngIf="isSidebarOpen"
    (click)="closeSidebar()"
  ></div>

  <div class="main">
    <header class="topbar">
      <div class="breadcrumb">
        <button
          class="sidebar-toggle"
          type="button"
          (click)="toggleSidebar()"
          [attr.aria-label]="'common.header.menu' | translate"
        >
          <span class="sidebar-toggle-icon" [innerHTML]="getIcon('assets/icons/menu.svg')"></span>
        </button>
        <span>{{ 'common.console' | translate }}</span>
        <span class="breadcrumb-sep">/</span>
        <span class="breadcrumb-current">{{ breadcrumbTitle }}</span>
      </div>
      <div class="topbar-right">
        <button class="icon-btn">
          <span [innerHTML]="getIcon('assets/icons/notification.svg')"></span>
        </button>
        <button class="icon-btn">
          <span [innerHTML]="getIcon('assets/icons/search.svg')"></span>
        </button>
      </div>
    </header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
