<app-loading-overlay [isLoading]="isLoading"></app-loading-overlay>

<app-table-controls
  [placeholder]="'dashboard.search-placeholder-card' | translate"
  [showFilterButton]="true"
  [filterActive]="isFilterActive()"
  [currentPage]="currentPage"
  [totalItems]="filteredCards.length"
  [itemsPerPage]="itemsPerPage"
  (search)="onSearchInput($event)"
  (filterOpen)="openFilterDialog()"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)"
></app-table-controls>

<div class="table-card">
  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">
            {{ header.labelKey | translate }}
          </th>
          <th class="table-header-action"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of getDisplayedCards()">
          <ng-container *ngFor="let cell of tableCells">
            <td *ngIf="cell.type === 'text'">
              {{ getTextCellValue(cell, card) }}
            </td>
            <td *ngIf="cell.type === 'method'">
              {{ getMethodCellValue(cell, card) }}
            </td>
          </ng-container>

          <td class="table-action-cell">
            <app-action-menu
              (edit)="editCard(card)"
              (delete)="deleteCard(card)"
            ></app-action-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
