@media (max-width: 600px) {
  .content {
    padding: 12px 12px 32px;
  }

  .signup-card {
    padding: 24px 16px 32px;
  }

  .signup-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .signup-agreement {
    margin-top: 28px;
    font-size: 13px;
  }

  .signup-divider {
    margin: 28px 0;
  }
}
