<div class="page-header">
  <div>
    <div class="page-title">{{ "user-management.page-title" | translate }}</div>
    <div class="page-desc">{{ "user-management.desc" | translate }}</div>
  </div>
</div>

<div class="stats-row">
  <div class="stat-card">
    <div class="stat-label">
      {{ "user-management.total-users" | translate }}
    </div>
    <div class="stat-value">{{ getTotalUserCount() }}</div>
  </div>
</div>

<ng-container *ngIf="!isLoading">
  <app-table-controls
    [placeholder]="'user-management.search-placeholder' | translate"
    [showFilterButton]="false"
    [currentPage]="currentPage"
    [totalItems]="filteredUsers.length"
    [itemsPerPage]="itemsPerPage"
    (search)="onSearchInput($event)"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  ></app-table-controls>

  <div class="table-card">
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">
              {{ header.labelKey | translate }}
            </th>
            <th class="table-header-action"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of getDisplayedUsers()"
            class="table-row-clickable"
            (click)="openUserDetail(user)"
          >
            <td *ngFor="let cell of tableCells">
              {{ getTextCellValue(cell, user) }}
            </td>
            <td class="table-action-cell" (click)="$event.stopPropagation()">
              <app-action-menu
                (edit)="editUser(user)"
                (delete)="deleteUser(user)"
              ></app-action-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<div *ngIf="isLoading" class="loading-container">
  <mat-spinner diameter="80" strokeWidth="3"></mat-spinner>
</div>
