<div class="dialog-content">
  <h2 class="dialog-title">
    <ng-container *ngIf="isFromAdmin">
      {{ "shipping-info.tracking-title" | translate }}
    </ng-container>
    <ng-container *ngIf="!isFromAdmin">
      {{ "card-history.shipping-confirm-title" | translate }}
    </ng-container>
  </h2>
  <p class="dialog-message">
    <ng-container *ngIf="isFromAdmin">
      {{ "shipping-info.tracking-desc" | translate }}
    </ng-container>
    <ng-container *ngIf="!isFromAdmin">
      {{
        "card-history.shipping-confirm-message"
          | translate: { count: cards.length }
      }}
    </ng-container>
  </p>

  <div class="dialog-table-scroll">
    <table class="dialog-table">
      <thead>
        <tr>
          <th *ngIf="isFromAdmin" class="tracking-column">
            {{ "shipping-info.tracking-column" | translate }}
          </th>
          <th *ngFor="let header of tableHeaders">
            {{ header.labelKey | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <td *ngIf="isFromAdmin" class="tracking-column">
            <input
              type="text"
              class="tracking-input"
              [placeholder]="'shipping-info.tracking-placeholder' | translate"
              [(ngModel)]="trackingByDestination[getDestinationKey(card)]"
            />
          </td>
          <td
            *ngFor="let header of tableHeaders"
            [class.address-column]="header.key === 'address'"
          >
            {{ getCellValue(card, header.key) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="dialog-buttons">
    <button
      type="button"
      class="dialog-btn dialog-btn-cancel"
      (click)="onCancel()"
    >
      {{ "common.cancel" | translate }}
    </button>
    <button
      type="button"
      class="dialog-btn dialog-btn-confirm"
      [disabled]="!isAllTrackingFilled()"
      (click)="onConfirm()"
    >
      <ng-container *ngIf="isFromAdmin">
        {{ "shipping-info.send-mail-button" | translate }}
      </ng-container>
      <ng-container *ngIf="!isFromAdmin">
        {{ "card-history.shipping-confirm-button" | translate }}
      </ng-container>
    </button>
  </div>
</div>
