<div class="dialog-content">
  <h2 class="dialog-title">{{ "shipping-info.tracking-title" | translate }}</h2>
  <p class="dialog-message">
    {{ "shipping-info.tracking-desc" | translate }}
  </p>

  <div class="dialog-table-scroll">
    <table class="dialog-table">
      <thead>
        <tr>
          <th class="tracking-column">
            {{ "shipping-info.tracking-column" | translate }}
          </th>
          <th *ngFor="let header of tableHeaders">
            {{ header.labelKey | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <td class="tracking-column">
            <input
              type="text"
              class="tracking-input"
              [placeholder]="'shipping-info.tracking-placeholder' | translate"
              [(ngModel)]="trackingByDestination[getDestinationKey(card)]"
            />
          </td>
          <td *ngFor="let header of tableHeaders">
            {{ getCellValue(card, header.key) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="dialog-buttons">
    <button
      type="button"
      class="dialog-btn dialog-btn-cancel"
      (click)="onCancel()"
    >
      {{ "common.cancel" | translate }}
    </button>
    <button
      type="button"
      class="dialog-btn dialog-btn-confirm"
      [disabled]="!isAllTrackingFilled()"
      (click)="onConfirm()"
    >
      {{ "shipping-info.send-mail-button" | translate }}
    </button>
  </div>
</div>
