<div class="container">
  <div class="dialog-wrapper">
    <h1>
      {{
        (isEditMode ? "user-detail.title-edit" : "user-detail.title")
          | translate
      }}
    </h1>

    <div *ngIf="!isEditMode" class="detail-list">
      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.email" | translate }}
        </div>
        <div class="detail-value">{{ user.email }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.password" | translate }}
        </div>
        <div class="detail-value">{{ user.password }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.nickname" | translate }}
        </div>
        <div class="detail-value">{{ user.nickname }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.last-name" | translate }}
        </div>
        <div class="detail-value">{{ user.lastName }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.first-name" | translate }}
        </div>
        <div class="detail-value">{{ user.firstName }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.coin" | translate }}
        </div>
        <div class="detail-value">{{ user.coin }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.postal-code" | translate }}
        </div>
        <div class="detail-value">{{ user.postalCode }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.prefecture" | translate }}
        </div>
        <div class="detail-value">{{ user.prefecture }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.address" | translate }}
        </div>
        <div class="detail-value">{{ user.address }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.building-name" | translate }}
        </div>
        <div class="detail-value">{{ user.buildingName }}</div>
      </div>

      <div class="detail-row">
        <div class="detail-label">
          {{ "user-management.table.phone" | translate }}
        </div>
        <div class="detail-value">{{ user.phone }}</div>
      </div>
    </div>

    <form *ngIf="isEditMode" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">{{
          "user-management.table.email" | translate
        }}</label>
        <input
          id="email"
          type="email"
          [(ngModel)]="user.email"
          name="email"
          required
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="password">{{
          "user-management.table.password" | translate
        }}</label>
        <input
          id="password"
          type="text"
          [(ngModel)]="user.password"
          name="password"
          required
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="nickname">{{
          "user-management.table.nickname" | translate
        }}</label>
        <input
          id="nickname"
          type="text"
          [(ngModel)]="user.nickname"
          name="nickname"
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="lastName">{{
          "user-management.table.last-name" | translate
        }}</label>
        <input
          id="lastName"
          type="text"
          [(ngModel)]="user.lastName"
          name="lastName"
          required
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="firstName">{{
          "user-management.table.first-name" | translate
        }}</label>
        <input
          id="firstName"
          type="text"
          [(ngModel)]="user.firstName"
          name="firstName"
          required
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="coin">{{ "user-management.table.coin" | translate }}</label>
        <input
          id="coin"
          type="number"
          [(ngModel)]="user.coin"
          name="coin"
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="postalCode">{{
          "user-management.table.postal-code" | translate
        }}</label>
        <input
          id="postalCode"
          type="text"
          [(ngModel)]="user.postalCode"
          name="postalCode"
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="prefecture">{{
          "user-management.table.prefecture" | translate
        }}</label>
        <input
          id="prefecture"
          type="text"
          [(ngModel)]="user.prefecture"
          name="prefecture"
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="address">{{
          "user-management.table.address" | translate
        }}</label>
        <input
          id="address"
          type="text"
          [(ngModel)]="user.address"
          name="address"
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="buildingName">{{
          "user-management.table.building-name" | translate
        }}</label>
        <input
          id="buildingName"
          type="text"
          [(ngModel)]="user.buildingName"
          name="buildingName"
          [disabled]="isLoading"
        />
      </div>

      <div class="form-group">
        <label for="phone">{{
          "user-management.table.phone" | translate
        }}</label>
        <input
          id="phone"
          type="text"
          [(ngModel)]="user.phone"
          name="phone"
          [disabled]="isLoading"
        />
      </div>
    </form>

    <div class="button-group">
      <button
        type="button"
        (click)="onClose()"
        [disabled]="isLoading"
        class="close-btn"
      >
        {{ "user-detail.close" | translate }}
      </button>
      <button
        *ngIf="isEditMode"
        type="button"
        (click)="onSubmit()"
        [disabled]="isLoading"
        class="submit-btn"
      >
        {{ "user-detail.save" | translate }}
      </button>
    </div>
  </div>
</div>
