<header class="app-header">
  <app-logo class="header-logo"></app-logo>
  <div class="header-right">
    <ng-container *ngIf="isAdminPage">
      <button class="header-btn header-btn-primary" (click)="goToGachaPage()">
        {{ "sidebar.back-to-gacha" | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="!isAdminPage">
      <ng-container *ngIf="!isLoggedIn">
        <button
          class="header-btn header-btn-outline"
          type="button"
          (click)="openLoginDialog()"
        >
          {{ "user-gacha.login" | translate }}
        </button>
        <button class="header-btn header-btn-primary" (click)="goToSignup()">
          {{ "user-gacha.signup" | translate }}
        </button>
        <button class="header-btn header-btn-admin" (click)="goToAdminPage()">
          {{ "user-gacha.admin-page" | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button
          class="header-btn header-btn-primary"
          type="button"
          (click)="goToMyPage()"
        >
          {{ "user-gacha.my-page" | translate }}
        </button>
        <button
          class="header-btn header-btn-outline"
          type="button"
          (click)="logout()"
        >
          {{ "user-gacha.logout" | translate }}
        </button>
      </ng-container>
    </ng-container>
  </div>
</header>
