<header class="app-header">
  <app-logo class="header-logo"></app-logo>

  <button
    class="hamburger-btn"
    type="button"
    (click)="toggleMobileMenu()"
    [attr.aria-expanded]="isMobileMenuOpen"
    [attr.aria-label]="'common.header.menu' | translate"
  >
    <span
      class="hamburger-icon"
      [innerHTML]="isMobileMenuOpen ? closeIcon : menuIcon"
    ></span>
  </button>

  <div class="header-right" [class.open]="isMobileMenuOpen">
    <ng-container *ngIf="isAdminPage">
      <button class="header-btn header-btn-primary" (click)="goToGachaPage()">
        {{ "common.header.back-to-gacha" | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="!isAdminPage">
      <ng-container *ngIf="!isLoggedIn">
        <button
          class="header-btn header-btn-outline"
          type="button"
          (click)="openLoginDialog()"
        >
          {{ "common.header.login" | translate }}
        </button>
        <button class="header-btn header-btn-primary" (click)="goToSignup()">
          {{ "common.header.signup" | translate }}
        </button>
        <button class="header-btn header-btn-admin" (click)="goToAdminPage()">
          {{ "common.header.admin-page" | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button
          class="header-btn header-btn-primary"
          type="button"
          (click)="goToMyPage()"
        >
          {{ "common.header.my-page" | translate }}
        </button>
        <button
          class="header-btn header-btn-outline"
          type="button"
          (click)="logout()"
        >
          {{ "common.header.logout" | translate }}
        </button>
        <div class="user-coin-section">
          <div class="user-coin-display">
            {{ userCoin }}{{ "common.unit.point" | translate }}
          </div>
          <div class="user-special-point-display">
            +{{ userSpecialPoint || 0 }}{{ "common.unit.point" | translate }}
          </div>
          <button
            class="header-btn header-btn-charge"
            type="button"
            (click)="goToCharge()"
          >
            {{ "common.header.charge" | translate }}
          </button>
        </div>
      </ng-container>
    </ng-container>

    <app-footer-links [hideOnDesktop]="true"></app-footer-links>
  </div>
</header>
<div
  class="header-backdrop"
  *ngIf="isMobileMenuOpen"
  (click)="closeMobileMenu()"
></div>
