<header class="app-header">
  <app-logo class="header-logo"></app-logo>

  <div class="header-right-wrapper">
    <ng-container *ngIf="!isAdminPage && isLoggedIn">
      <div class="user-coin-section">
        <div class="user-coin-group">
          <span class="user-coin-icon" [innerHTML]="coinIcon"></span>
          <span class="user-coin-amount">
            {{ userCoin }}{{ "common.unit.coin" | translate }}
          </span>
          <button
            class="header-btn-charge"
            type="button"
            (click)="goToCharge()"
            [attr.aria-label]="'common.header.charge' | translate"
          >
            +
          </button>
        </div>
        <div class="user-ticket-display">
          +{{ userTicket || 0
          }}{{ "common.unit.ticket" | translate }}
        </div>
      </div>
      <button
        class="header-btn-mypage"
        type="button"
        (click)="goToMyPage()"
        [attr.aria-label]="'common.header.my-page' | translate"
      >
        <span class="header-mypage-icon" [innerHTML]="myPageIcon"></span>
      </button>
    </ng-container>

    <button
      class="hamburger-btn"
      type="button"
      (click)="toggleMobileMenu()"
      [attr.aria-expanded]="isMobileMenuOpen"
      [attr.aria-label]="'common.header.menu' | translate"
    >
      <span
        class="hamburger-icon"
        [innerHTML]="isMobileMenuOpen ? closeIcon : menuIcon"
      ></span>
    </button>
  </div>

  <div class="header-menu" [class.open]="isMobileMenuOpen">
    <ng-container *ngIf="isAdminPage">
      <button class="header-btn header-btn-primary" (click)="goToGachaPage()">
        {{ "common.header.back-to-gacha" | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="!isAdminPage">
      <ng-container *ngIf="!isLoggedIn">
        <button
          class="header-btn header-btn-outline"
          type="button"
          (click)="openLoginDialog()"
        >
          {{ "common.header.login" | translate }}
        </button>
        <button class="header-btn header-btn-primary" (click)="goToSignup()">
          {{ "common.header.signup" | translate }}
        </button>
        <button class="header-btn header-btn-admin" (click)="goToAdminPage()">
          {{ "common.header.admin-page" | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button
          class="header-btn header-btn-outline"
          type="button"
          (click)="goToContact()"
        >
          {{ "common.header.contact" | translate }}
        </button>
        <button
          class="header-btn header-btn-outline"
          type="button"
          (click)="logout()"
        >
          {{ "common.header.logout" | translate }}
        </button>
      </ng-container>
    </ng-container>

    <app-footer-links [hideOnDesktop]="true"></app-footer-links>
  </div>
</header>
<div
  class="header-backdrop"
  *ngIf="isMobileMenuOpen"
  (click)="closeMobileMenu()"
></div>
